// firebase/firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // User data can only be read and written by the authenticated user
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Progress data can only be read and written by the authenticated user
    match /progress/{progressId} {
      allow read, write: if request.auth != null && 
                           request.auth.uid == resource.data.userId || 
                           request.auth.uid == request.resource.data.userId;
    }
    
    // Quests data can only be read and written by the authenticated user
    match /quests/{questId} {
      allow read, write: if request.auth != null && 
                           request.auth.uid == resource.data.userId || 
                           request.auth.uid == request.resource.data.userId;
    }
  }
}